beautifulsoup4
faiss-cpu
fastapi
googlemaps
jinja2
langchain-community
numpy
openai
passlib
pydantic
python-dotenv
python-jose
requests
torch
transformers
typing_extensions
uvicorn
ttkthemes