<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOT</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <img src="/static/logo.png" alt="사이트 로고" width="80" height="80">
    <h1>오늘 가고 싶은 SPOT은?</h1>

    <!-- 로그인 상태 표시 및 로그아웃 -->
    <div id="loggedInStatus" style="display: none;">
        <p id="welcomeMessage"></p>
        <button id="logoutButton">로그아웃</button>
    </div>

    <!-- 로그인 및 회원가입 버튼 -->
    <div id="authButtons">
        <button id="loginToggle">로그인</button>
        <button id="signupToggle">회원가입</button>
    </div>

    <!-- 로그인 폼 -->
    <form id="loginForm" style="display: none;" method="post" onsubmit="login(event)">
        <input type="text" id="loginUsername" name="username" placeholder="아이디" required>
        <input type="password" id="loginPassword" name="password" placeholder="비밀번호" required>
        <button type="submit">로그인</button>
    </form>

    <!-- 회원가입 폼 -->
    <form id="signupForm" style="display: none;" method="post" onsubmit="signup(event)">
        <input type="text" id="signupUsername" name="username" placeholder="아이디" required>
        <input type="password" id="signupPassword" name="password" placeholder="비밀번호" required>
        <button type="submit">회원가입</button>
    </form>


    <!-- 검색 폼 -->
    <form id="searchForm" method="post" action="/search/" onsubmit="search(event)">
        <input type="text" id="searchInput" name="search_input" placeholder="검색어와 지역을 입력하세요 (예: 서울 맛집)">
        <button type="submit">검색</button><br/>
        <button type="button" id="voiceSearchButton">🎤 음성 검색</button> <!-- 음성 검색 버튼 -->
    </form>

     <!-- 추천 문장 카드 -->
     <div id="cardContainer">
        <div class="card" onclick="autoSearch('서초동 분위기 좋은 카페')">
            <div class="icon"></div>
            <p>서초동 분위기 좋은 카페</p>
        </div>
        <div class="card" onclick="autoSearch('남자 4명이서 가는 가성비 있는 강남역 고깃집')">
            <div class="icon"></div>
            <p>남자 4명이서 가는 가성비 있는 강남역 고깃집</p>
        </div>
        <div class="card" onclick="autoSearch('부모님과 갈 만한 송파동 식당')">
            <div class="icon"></div>
            <p>부모님과 갈 만한 송파동 식당</p>
        </div>
        <div class="card" onclick="autoSearch('썸남과 갈만한 분위기 좋은 잠실 맛집')">
            <div class="icon"></div>
            <p>썸남과 갈만한 분위기 좋은 잠실 맛집</p>
        </div>
    </div>

    <div id="results">
        <!-- 검색 결과 영역 -->
        {% if search_results is defined and search_results %}
            <h2>검색 결과</h2>
            <ul>
                {% for result in search_results %}
                    <li>
             <h3>{{ result.title }}</h3>
                        <p>{{ result.description }}</p>
                        <p>평점: {{ result.rating }}</p>
                        <p>리뷰 수: {{ result.views }}</p>
                        <p>가격 수준: {{ result.price_level }}</p>
                        <p>맥주 제공: {% if result.serves_beer %}예{% else %}아니요{% endif %}</p>
                        <p>와인 제공: {% if result.serves_wine %}예{% else %}아니요{% endif %}</p>
                        <p>아침 제공: {% if result.serves_breakfast %}예{% else %}아니요{% endif %}</p>
                        <p>브런치 제공: {% if result.serves_brunch %}예{% else %}아니요{% endif %}</p>
                        <p>점심 제공: {% if result.serves_lunch %}예{% else %}아니요{% endif %}</p>
                        <p>저녁 제공: {% if result.serves_dinner %}예{% else %}아니요{% endif %}</p>
                        <p>채식 음식 제공: {% if result.serves_vegetarian_food %}예{% else %}아니요{% endif %}</p>
                        <p>테이크아웃 가능: {% if result.takeout %}예{% else %}아니요{% endif %}</p>
                        <a href="{{ result.link }}" target="_blank">더보기</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
